{
  "presets": [
    "@babel/preset-react"
  ],
 "plugins":[
  "@babel/plugin-proposal-class-properties",
  ["module-resolver", {
    "root": ["./src"],
    "alias": {
      "@": "./src",
      "@pages": "./src/pages",
      "@images": "./src/assets/images"
    }
  }]
 ]
}
